<div class="result-title">
	Test Input + Failures
</div>

<table class="common">
	<tbody>
		<tr>
			<td class="heading">Node</td>

			<td>{{nodeName}}</td>

			<td class="heading">ENM Version</td>

			<td>{{enmVersion}}</td>
		</tr>

		<tr>
			<td class="heading">Erbs Version</td>

			<td>{{erbsVersion}}</td>

			<td class="heading">CPP Version</td>

			<td>{{cppVersion}}</td>
		</tr>
		
		<tr>
			<td class="heading">Total MO's Verified</td>

			<td>{{totalFdnCount}}</td>

			<td class="heading">Comparison Failures</td>

			<td>{{fdnfailureCount}}</td>
		</tr>
		
	</tbody>
</table>