<div class="result-title">
	Test Input
</div>

<table class="common">
	<tbody>
		<tr>
			<td class="heading">Node</td>

			<td>{{nodeName}}</td>

			<td class="heading">ENM Version</td>

			<td>{{ennVersion}}</td>
		</tr>

		<tr>
			<td class="heading">Namespace</td>

			<td>{{namespace}}</td>

			<td class="heading">Version</td>

			<td>{{version}}</td>
		</tr>

		<tr>
			<td class="heading">Model/MO Name</td>

			<td>{{modelName}}</td>

			<td class="heading">FDN</td>

			<td>{{fdn}}</td>
		</tr>
	</tbody>
</table>