
<div class="result-title">
	Attributes Found
</div>

<table class="common tg">
	<tbody>
		<tr>
			<td class="heading">All Model Attributes</td>

			<td class="{{isEqual}}">{{modelCount}}</td>

			<td class="heading">Non-Syncable Model Attribute Count</td>

			<td>{{pmCount}}</td>
		</tr>

		<tr>
			<td class="heading">Netsim Attribute Count</td>

			<td class="{{isEqual}}">{{netsimCount}}</td>

			<td class="heading">DPS Attribute Count</td>

			<td class="{{isEqual}}">{{dpsCount}}</td>
		</tr>
	</tbody>
</table>
